.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background: #fff;
  color: #111;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  transform: translateY(0);
  transition: transform 300ms ease-in-out;
  will-change: transform;
}

.logo {
  width: 130px;
  height: auto;
}

.hidden {
  transform: translateY(-100%);
  /* This ensures the header moves completely out of view */
}
